@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Suez+One&display=swap');

* {
    margin: 0;
    padding: 0;
    outline: none;
}

body, html{
    width: 100%;
    height: 100%;
}

body{
    background-color: #fafafa;
}

header{
    width: 100%;
    padding: 10px, 0.5px, 0px, 0.5px;
    background: transparent;
    float: left;
    position: fixed;
}

header #logo{
    color: #fff;
    cursor: pointer;

}

header #logo span{
    font-size: 1.6em;
    line-height: 40px;
    margin-left: 40px;
    font-family: 'Suez One', serif;
}

@media (min-width: 701px) {
    #logo {
        float: left;
        width: 30%;
        font-size: 1.1em;
    }
    #about{
        float: right;
        width: 67%;
    }
}

@media (max-width: 700px) {
    #logo {
        margin-top: 15px;
        width: 100%;
        font-size: 1.1em;
    }
    #about{
        float: left;
        width: 100%;
    }
}

#about {
    text-align: center;
    font-size: 1.2em;
    line-height: 40px;
    margin-bottom: 10px;
}

#about > a{color: #fff;}
#about > a:hover{color:#b0b0b0}
#about > a{margin-right: 6%}

.fixed{
    z-index: 5000;
    background-color: #fff;
    border-bottom: 1px solid silver;
}

header.fixed #logo {
    color: #343434;;
}

.fixed #about a {color: #343434;}
.fixed #about a:hover {color: #7c7c7c;}

#top {
    width: 100%;
    height: 1000px;
    background-image: url(https://p0.pikist.com/photos/266/1006/notebook-mac-imac-macbook-desk-laptop-office-table-technology.jpg);
    background-blend-mode: multiply;
    background-color: #2e3a44;
    background-size: cover;
    text-align: center;
    color: #fff;
    font-size: 3em;
}

@media (min-width: 1101px) {
    #top{
        font-size: 3em;
    }
}

@media (max-width: 1000px) and (min-width: 376px) {
    #top{
        font-size: 2em;
    }
}

@media (max-width: 375px) {
    #top{
        font-size: 1.5em;
        padding-top: 50%;
    }
}

#top h1{
    padding-top: 20%;
}

#top h3 {
    color: #ccc;
}

#inf {
    padding: 100px 20%;
    width: 50%;
    float: left;
    background-color: #f6f6f6;
    border-top: 2px solid silver;
    color: #484848;
    font-size: 1.3em;
}


@media (min-width: 1401){
    #inf{
        padding: 100px 20%;
        width: 60%;
    }
    
}

@media (max-width: 1400){
    #inf{
        padding: 100px 10%;
        width: 80%;
    }
    
}

@media (max-width: 600) {
    #inf div{
        width: 98%!important;
    }
}

#inf div {
    width: 100%;
    text-align: justify;
}

#inf h2 {
    font-size: 3em;
}

#inf h4{
    font-size: 2em;
}

#inf span {
    color: #252323;
}

#book {
    float: left;
    background-image: url(https://img3.goodfon.com/wallpaper/nbig/b/ca/rabota-stol-delat-apple.jpg);
    background-blend-mode: multiply;
    background-color: #2e3a44;
    background-size:cover;
    background-attachment: fixed;

    padding: 100px 0;
    width: 100%;
    text-align: center;
    color: #fff;
}

#book h2{font-size: 4em;}
#book h4{color:#ccc; font-size: 1.5em;}

#book .img{
    float: left;
    width: 30%;
    margin-right: 5%;
    margin-top: 50px;
}

#book .img:nth-child(odd){
    margin-left: 18%;
}

#book img{
    background: #fafafa;
    padding: 5px;
    border: 2px solid silver;
    float: left;
    width: 100%;
    max-width: 400px;
    height: 500px;
}

#book span{
    float: left;
    width: 100%;
    font-size: 1.5em;
    margin-top: 10px;
}


#contacts {
    padding: 100px 20%;
    width: 100%;
    float: left;
    background-color: #a99494;
    color: #2e3a44;
    font-size: 1.3em;
}


